<div class="navbar-wrapper">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
                <div class="container">
                        <div class="navbar-header">
                                <!-- Logo Starts -->
                                <a class="navbar-brand" href="" ui-sref="home">Electricity & water readings</a>
                                <!-- #Logo Ends -->


                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>

                        </div>


                        <!-- Nav Starts -->
                        <div class="navbar-collapse  collapse">
                                <ul class="nav navbar-nav navbar-right scroll">
                                        <li class="active"><a href="">Home</a></li>
                                        <li><a href="" ui-sref="balances">Balances</a></li>
                                        <li><a href="" ui-sref="login">Logout</a></li>
                                </ul>
                        </div>
                        <!-- #Nav Ends -->

                </div>
        </div>

</div>
<!-- #Header Starts -->




<div class="container">
        <div class="wrapper">


                <div class="banner">
                        <div class="overlay">



                                <!-- main banner-->
                                <h1 class="text-center" style="color:red">Welcome {{name}}, Submit your Water & Electricity readings with ease.</h1>
                                <!-- main banner-->


                                <!-- service -->
                                <div class="service row text-center  wowload fadeInDownBig">
                                        <div class="col-sm-3 col-xs-6">
                                                <i class="fa fa-code  fa-4x"></i>
                                                <a href=""><h3>You can</h3></a>
                                                <p> Register as a new <br> user</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                                <i class="fa fa-pencil  fa-4x"></i>
                                                <a href=""><h3>You can</h3></a>
                                                <p>Login to view <br>all of your transactions.</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                                <i class="fa fa-cloud-download  fa-4x"></i>
                                                <a href="" ui-sref="balances"><h3>Click to</h3></a>
                                                <p>Submit all of your<br>monthly readings.</p>
                                        </div>
                                        <div class="col-sm-3 col-xs-6">
                                                <i class="fa fa-camera-retro fa-4x"></i></i>
                                                <a href="" ui-sref="monthly"><h3>Click to</h3></a>
                                                <p>View all of your <br>past readings.</p>
                                        </div>
                                        
                                </div>
                                <!-- service -->
                        </div>
                </div>








                &nbsp


                <!-- about -->
                <div id="about" class="about">
                        <div class="row">
                                <div class="col-sm-7 wowload fadeInLeft">
                                        <div id="carousel-about" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner" role="listbox">
                                                        <div class="item active"><img src="images/images/portfolio/1.jpg" class="img-responsive"></div>
                                                        <div class="item"><img src="images/images/portfolio/2.jpg" class="img-responsive"></div>
                                                        <div class="item"><img src="images/images/portfolio/3.jpg" class="img-responsive"></div>
                                                </div>
                                                <!-- Controls -->
                                                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev"><i class="fa fa-3x fa-angle-left"></i></a>
                                                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next"><i class="fa fa-3x fa-angle-right"></i></a>
                                        </div>
                                </div>
                                <div class="col-sm-5 wowload fadeInRight">
                                        <div class="spacer">
                                                <h2><i class="fa fa-flask"></i> About Water & Electricity readings</h2>
                                                <p>This system allows the user to submit their own readings on a monthly basis.</p>
                                                <div class="social">

                                                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a> <a href="#"><i class="fa fa-dribbble fa-2x"></i></a>                                                        <a href="#"><i class="fa fa-twitter fa-2x"></i></a> <a href="#"><i class="fa fa-linkedin fa-2x"></i></a></div>
                                        </div>
                                </div>
                        </div>
                </div>
                &nbsp
                <div id="contact" class="contact">
                        <div class="row">
                                <div class="col-sm-7 wowload fadeInLeft">
                                        <img src="images/images/map.jpg" class="img-responsive">
                                </div>
                                <div class="col-sm-5 wowload fadeInRight">
                                        <div class="spacer">
                                                <h2><i class="fa fa-terminal"></i> Report any complaints</h2>
                                                <div class="wowload fadeInRightBig">
                                                        <div class="form-group"><input type="text" placeholder="Name" class="form-control"></div>
                                                        <div class="form-group"><input type="text" placeholder="Company" class="form-control"></div>
                                                        <div class="form-group"><textarea rows="5" placeholder="Message" class="form-control"></textarea></div>
                                                        <div class="form-group"><button class="btn btn-danger"><i class="fa fa-paper-plane"></i> Send</button></div>
                                                </div>
                                        </div>

                                </div>
                        </div>


                </div>

                <!-- Footer Starts -->
                <div class="footer text-center">
                     <a>   Designed by: Lerato Musa</a>
                </div>
                <!-- # Footer Ends -->
                <a href="" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>

        </div>
</div>